body {
    width: 100%!important;
    height: 100%!important;
    padding: 0;
    margin: 0;
    background-color: black;
}
html {
    height: 100%;
    cursor: crosshair;
    width: 100%;
    overflow: hidden;
}
canvas {
    position: fixed!important;
}
.titlePanel {
    position: fixed!important;
    width: 100%;
    display: flex!important;
    justify-content: center;
    align-items: center;

    height: 100%;
    font-family: 'Press Start 2P', cursive;
}
.background {
    position: absolute!important;
    background-image: url(src/client/sprites/gui/welcomeScreen.gif);
    background-position: center;
    background-size: cover;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    left: -50px!important;
    right: 0;
    top: -50px!important;
    bottom: 0;

}
.darker-layer {
    position: absolute!important;
    background-color: rgba(0,0,0,.3);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0!important;
    right: 0;
    top: 0!important;
    bottom: 0;
}
.welcome {
    color: white;
    z-index: 10;
    position: relative!important;
    font-size: 50px
}
.gameTitle {
    color: white;
    text-shadow: 2px 2px 2px black;
}
/*below are all the styles for the form*/
.enterForm {
    pointer-events: all;
    height: 50px;
    position: relative!important;
    z-index: 20;
    width: 460px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
    border-radius: 4px;
    background-color: antiquewhite;
}
.loader {
    font-size: 13px;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    color: black;
}
.loader .title {
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: rgba(50,50,93,.1) 1px solid;
}
.loader .status {
    font-size: 10px;
    color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}
.class {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-right: rgba(50,50,93,.1) 1px solid;
    transition: transform .2s;
}
.class:hover {
    transform: scale(1.1);
}
.classPreview {
    position: absolute;
    width: 65%;
    height: 65%;
}
.uid {
    height: 100%;
    display: flex;
    width: calc(100% - 100px);
    border-right: rgba(50,50,93,.1) 1px solid;
}
.uid input {
    position: relative;
    background-color: transparent;
    border: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Press Start 2P', cursive;
}
textarea:focus, input:focus{
    outline: none;
}
.playBtn:hover {
    transform: scale(1.3);
}
.playBtn {
    transition: transform .2s;
    font-size: 15px;
    display: flex;
    width: 50px;
    color: darkgreen;
    justify-content: center;
    align-items: center;
}